@import "../../../styles/abstarcts/variables";
@import "../../../styles/abstarcts/mixins";

.product-list {
  @include flex-container(column, flex-start, center, 3.2rem);
  width: 100%;

  .type {
    font-size: 4rem;
  }

  & .product {
    @include flex-container(column, null, null);
    position: relative;
    margin-bottom: 1.5rem;

    .product__image {
      padding-bottom: 2rem;
      transition: all 0.1s ease-in-out;

      img {
        width: 100%;
        height: auto;
        border-radius: 0.8rem;
        border: 0.25rem solid transparent;
        transition: all 0.2s ease-in-out;

        &.border-active {
          border: 0.25rem solid $Red;
        }
      }

      div {
        .btn-cart {
          @include flex-container(row, center, center, 0.5rem);
          position: absolute;
          top: 68%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: $text-preset-4;
          font-weight: 700;

          &:hover {
            color: $Red;
            border: 0.1rem solid $Red;
          }
        }

        @media (min-width: 768px) {
          .btn-cart {
            top: 70%;
          }
        }
      }
    }

    .product__detail {
      @include flex-container(column, flex-start, center);
      flex-wrap: wrap;
      // margin-top: 1.6rem;

      .product__detail-category {
        font-size: $text-preset-4;
        color: $Rose-500;
      }

      .product__detail-name {
        font-size: $text-preset-3;
        color: $Rose-900;
      }

      .product__detail-price {
        font-size: $text-preset-3;
        color: $Red;
      }
    }
  }
}

@media (min-width: 768px) {
  .product-list {
    @include flex-container(row, flex-start, flex-start);
    width: 100%;
    flex-wrap: wrap;

    .product-list__items {
      @include flex-container(row, flex-start, flex-start, 3.2rem);
      width: 100%;
      flex-wrap: wrap;

      .product__image {
        width: 21.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .product-list {
    .type {
      font-size: $text-preset-1;
    }
  }
  .product__image {
    width: 25.1rem;
  }
}
