@import "../abstarcts/variables";

*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $Rose-50;
}
